<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <ng-container *ngIf="!loading || this.dataTransfer.length === 0">
        <h1> Historial de Transferencias </h1>
        <h2> Data not found :( </h2>
      </ng-container>
      <ng-container *ngIf="loading && this.dataTransfer.length !== 0">
        <h1> Historial de Transferencias </h1>
        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col" *ngFor='let title of this.titles'> {{ title }} </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let data of this.dataTransfer'>
              <td> {{ data.name }} </td>
              <td> {{ data.rut }} </td>
              <td> {{ data.bankName }} </td>
              <td> {{ data.accountsType }} </td>
              <td> {{ data.amount }} </td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
    <div class="col-2"></div>
  </div>
</div>