<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-primary mb-3">
    <a class="navbar-brand" href="#">Mi Banco</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navbar-nav navbar-center">
        <li class="nav-item active" *ngFor="let data of listMenu">
          <a class="nav-link" routerLink="/{{data.url}}"><span class="sr-only">  {{ data.title }}  </span></a>
        </li>
      </ul>
    </div>
  </nav>